/* global */
html,body {
    font-family: 'Work Sans', sans-serif;
}
.heading{
    text-align: center;
    margin-bottom: 3rem;
}
.heading h2{
    font-size: 40px;
    color: #ff4f81;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.heading p{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 17px;
    color: black;
}
.heading p::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color: gray;
    display: block;
    margin: 20px auto;
}
.heading--white p{
    color: white;
}
.section{
    padding: 5rem 0;
}
/* header  */
.header__top{
    background-color: #FF5F81;
    font-size: 14px;
}
.header__top a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.header__left a:hover{
    color: black !important;
}
.header__right a i{
    width:  30px;
    height: 30px;
    background-color: black;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    margin-left: 0.25rem;
    transition: all .5s;
}
.header__right a i:hover{
    border-color: white;
    color: #ff4f81;
}
.navInstruction a{
    color: black;
}
.navInstruction .navbar-brand p:first-child{
    font-size: 36px;
}
.navInstruction .navbar-brand p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}
.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}
#navbarInstruction .nav-item{
    margin: 0 15px;
}
#navbarInstruction .nav-item::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
    /* transition: phải khải báo ở thẻ cha 
    để có hiệu ứng cả lúc hover và sau hover */
}
#navbarInstruction .nav-item:hover::after{
    width: 100%;
}
#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}
#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.61);
    border: 1px solid rgba(0, 0, 0, 0.61);
}
#navbarInstruction .dropdown-item{
    color: white;
    transition: all 0.5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}
.navInstruction .navbar-toggler{
    color: #ff4f81;
    background-color: black;
    border-radius: 0;
}
.navInstruction .navbar-toggler:focus{
    outline: none;
}
/* carousel  */
#carouselCyber .carousel-item img{
    height: 620px !important;
}
#carouselCyber .carousel-caption{
    /* áp dụng với thẻ có position: absolute; */
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#carouselCyber .carousel-caption h1{
    font-size: 52px;
}
#carouselCyber .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 300;
}
#carouselCyber .carousel-caption button{
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
#carouselCyber .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 11;
}
/* welcome */
.welcome__content>p{

    width: 80%;
    margin:  0 auto;
    text-align: center;
    line-height: 1.8em;
    font-size: 15px;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
}
.welcome__item{
    padding: 2rem;
}
.welcome__item i{
    font-size: 2rem;
}
.welcome__item h3{
    color: #ff4f81;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.welcome__item h4{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin:  1rem 0 0.2rem;
}
.welcome__item p{
    color: gray;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}
/* our stats */
.ourStats{
    background-image: url('../img/alice-kang-Bc_uN5PeErA-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.ourStats__content{
    text-align: center;
    color: white;
}
.ourStats__content i{
    font-size: 2.5rem;
}
.ourStats__content h3{
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: #ff4f81;
}
.ourStats__content p{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}
/* offer */
.offer__col{
    padding: 15px;
}
.offer__item{
    padding: 25px 40px;
    box-shadow: 0 1px 8px 0 rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all 0.5s;
    height: 100%;
}
.offer__item:hover{
    background-color: #12ccc3;
}
.offer__item i{
    color: #ff4f81;
    font-size: 40px;
}
.offer__item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}
.offer__item p{
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}
/* feedback  */
.feedback{
    background-image: url('../img/alice-kang-Bc_uN5PeErA-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.feedback__content{
    box-shadow: 1px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.feedback__content .item{
    color: white;
    padding: 1rem;
}
.feedback__top{
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.feedback__top::after{
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.5);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -9px;
    left: 100px;
}
.feedback .feedback__buttom img{
    width: 28%;
    display: inline-block;
    margin-right: 5px;
}
.feedback__buttom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 2rem auto 0;
}
.feedback__buttom .feedback__name p{
    margin: 0;
    color: #ff4f81;
}
.feedback__name p:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ff4f81;
    opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: #ff4f81;
    opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
/* news */
.news__content img{
    border: 2px solid #dedede;
}
.news__content h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.news__content a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.news__content a:hover{
    color: #ff4f81;
}
.news__content h4{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff4f81;
    margin: 1rem 0;
}
.news__content p{
    color: #999999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}
.news__content .row:last-child{
    margin-top: 5rem;
}
/* modal  */
#cyberModal img{
    width: 100%;
}
#cyberModal h5{
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}
#cyberModal p{
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
#cyberModal .modal-dialog{
    max-width: 600px;
}
/* footer */
footer{
    background-color: #141415;
}
.footer__top h3{
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.footer__top p{
    color: #8b8b96;
    line-height: 2em;
    font-size: 15px;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer__link, .footer__contact{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.footer__link i{
    color: #ff4f81;
    margin-right: 1rem;
}
.footer__link a, .footer__contact a{
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.footer__link a:hover, .footer__contact a:hover{
    color: white;
}
.footer__contact i{
    color: white;
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}
.footer__form{
    margin-top: 3rem;
}
.footer__form label{
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__form input{
    padding: 14px; 
    border-radius: 0;
    border: none;
    color: #888;
    letter-spacing: 1px;
    height: auto;
}
.footer__form button{
    background-color: #ff4f81;
    padding: 13px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    color: white;
    outline: none;
    transition: all 0.5s;
}
.footer__form button:hover{
    background-color: #ec1955;
    color: white;
}
.footer__buttom{
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
}
.footer__buttom a{
    color: #ff4f81;
    text-decoration: none;
    transition: all 0.5s;
}
.footer__buttom a:hover{
    color: white;
}
/*------------------------ responsive------------------*/
/* header  */
@media screen and (max-width: 1199.98px){
    /* carousel  */
    #carouselCyber .carousel-caption{
        top: 50%;
    }
    #carouselCyber .carousel-caption h1{
        font-size: 3.5vw;
    }
    #carouselCyber .carousel-caption p{
        font-size: 1.5vw;
        margin-bottom: 0.5em;
    }
    #carouselCyber .carousel-caption button{
        font-size: 1.4vw;
        padding: 0.8em 1em;
    }
}
@media screen and (max-width: 991.98px){
    /* header  */
    .navInstruction .navbar-brand p:first-child{
        /* 3% width so với trình duyệt  */
        font-size: 3vw;
    }
    .navInstruction .navbar-brand p:last-child{
        /* 1.5% width so với trình duyệt  */
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 767.98px){
    /* header  */
    #navbarInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item{
        color: black;
    }

}
@media screen and (max-width: 575.98px){
    /* global  */
    .heading p{
        padding: 0 25px;
    }
    /* header  */
    .header__left a{
        display: block;
    }
    /* footer  */
    .footer__form button, .footer__form input{
        padding: 10px;
        font-size: 14px;
        border: none;
    }
}
@media screen and (max-width: 414px){
    /* carousel  */
    #carouselCyber .carousel-item img{
        height: 250px !important;
        object-fit: cover;
    }
}
@media screen and (max-width: 376px){
    .feedback__buttom{
        width: 75%;
    }
}
@media screen and (max-width: 320px){
    /* header  */
    .header__right{
        width: 35%;
        text-align: center;
    }
    .header__right a i{
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    /* header  */
    #navbarInstruction .nav-item{
        margin: 0;
        padding: 0 2px;
    }
    #navbarInstruction .nav-link{
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (min-width: 575px) and (max-width: 992px){
    .feedback__buttom{
        width: 85%;
    }
}
